body {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    display: relative;
}

#radios {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#radios label {
    flex-grow: 3;
}

#radios input {
    flex-grow: 2;
}

main {
    background-color: #dcdcdc;
    border-radius: 2%;
    padding: 20px;
    margin: 15% 5% 30% 5%;
}

#formContainer {
    background-color: #f0f0f0;
    padding: 2em;
}

#formContainer * {
    margin-top: 1em;
}

#formContainer form {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

@media (min-width: 1000px) and (max-width: 1599px)
{

    main {
        margin: 10% 20% 20% 20%;
    }
}

@media (min-width: 1600px)
{
    main {
        margin: 10% 25% 15% 25%;
    }
}