html {
    background:  url(./img/weather-2000.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

body {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    margin: 0;
}

#filter{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(10, 10, 10, 0.85), rgba(10, 10, 10, 0.85));

    display: flex;
    justify-content: center;
    align-items: baseline;
}

form {
    width: 90%;
}

#radios {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 2vw;
}

#radios div {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-grow: 1;
    margin: 0;
}

#radios div label {
    margin: 0;
    margin-right: 2vw;
}

#radios div input {
    margin: 0;
}

main {
    background-color: #dcdcdc;
    border-radius: 2%;
    padding: 20px;
    margin: 10vh 0 0 0;
    
}

#formContainer {
    background-color: #f0f0f0;
    padding: 2em;
}

#formContainer * {
    margin-top: 1em;
}

#formContainer form {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}


@media (min-width: 1250px)
{
    main {
        width: 34vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #formContainer {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    form {
        width: 80%;
    }
}