html {
    background:  url(./img/weather-2000.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

body {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    margin: 0;
}

#filter{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, rgba(10, 10, 10, 0.85), rgba(10, 10, 10, 0.85));
}

#radios {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#radios label {
    flex-grow: 3;
}

#radios input {
    flex-grow: 2;
}

main {
    background-color: #dcdcdc;
    border-radius: 2%;
    padding: 20px;
    margin: 15% 5% 30% 5%;
}

#formContainer {
    background-color: #f0f0f0;
    padding: 2em;
}

#formContainer * {
    margin-top: 1em;
}

#formContainer form {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}


@media (min-width: 1250px)
{
    main {
        position: absolute;
        margin: 0 20% 0 20%;
        left: 0;
        top: 187px;
        width: 60%;
    }
}